@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Lexend&family=Open+Sans&family=Roboto&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || header-styles || */
.header {
  background-image: url(images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 1000px;
  width: 100%;
}

.header-info {
  margin-left: 50%;
  margin-right: 200px;
  margin-top: 13%;
  text-align: end;
  width: 100%;
}

.header-title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 800;
}

.header-description {
  color: #444343;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  line-height: 25px;
  margin: 20px 0;
}

.btn-primary {
  background-color: #f15b22;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 18px 25px;
}

/* main-styles */
.main {
  font-family: "Lexend", sans-serif;
  align-items: center;
  display: flex;
  margin: 100px 16vw;
}

.main-section {
  margin-left: 111px;
}

.main-title {
  font-size: 44px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 18px;
}

.main-description {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.point-out > p {
  font-size: 18px;
  padding-top: 5px;
}

/* || plans-section-styles || */
.plans-section {
  display: flex;
  gap: 8%;
  justify-content: center;
  margin-top: 100px;
}

.section-title {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-top: 150px;
  text-align: center;
}

.plans-section > div {
  text-align: center;
}

.plans-section > div > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 0;
}

.plans-section > div > p {
  color: #444343;
  font-size: 22px;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
}

/* banner-section-styles */
.banner-section {
  background-blend-mode: soft-light;
  background-image: url(images/watch.png), url(images/gradient3.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  margin: 150px 20%;
  padding-top: 6px;
  width: 1140px;
}

.banner-title {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin: 33px 0 10px 66px;
}

.btn-secondary {
  background-color: white;
  border-radius: 5px;
  border: 0;
  font-family: "Open Sans", sans-serif;
  color: #f15b22;
  font-size: 22px;
  font-weight: 600;
  height: 64px;
  margin-left: 66px;
  padding: 18px 25px;
  width: 160px;
}

/* || dev-section-styles || */
.dev-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: -33px;
  font-size: 44px;
  font-weight: 900;
}

.dev-description {
  color: #444343;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  text-align: center;
}

.dev-section {
  align-items: center;
  display: flex;
  margin: 88px 10%;
  text-align: left;
}

.dev-section > img {
  height: 555px;
}

.dev-info > h3 {
  font-family: "Lexend", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.dev-info > p {
  color: #444343;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 19px;
  line-height: 25px;
}

/* || footer-styles || */
.footer {
  background-color: #151414;
  color: white;
  display: flex;
  font-family: "Work Sans", sans-serif;
  height: 515px;
  margin-top: 100px;
  width: 100%;
}

.footer-section {
  font-size: 20px;
  margin-left: 15vw;
  padding-top: 100px;
  width: 599px;
}

.footer-title {
  font-size: 55px;
  margin-bottom: 20px;
}

.footer-section > p {
  line-height: 30px;
  margin-bottom: 10px;
}

.footer-section > img {
  margin-top: 10px;
  padding-right: 10px;
}

.subs-section {
  color: white;
  font-family: "Lexend", sans-serif;
  margin-top: 100px;
  margin-left: 300px;
}

.subs-section > h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.subs-input {
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  height: 64px;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 325px;
}

.btn-subs {
  margin-left: 0;
}

/* || Project [Done] || */
